
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}
.dark body {
  background-color: #111827;
}

:root {
    --primary-50:  254 253 240;
    --primary-100: 253 248 208;
    --primary-200: 250 240 160;
    --primary-300: 245 226 104;
    --primary-400: 237 201 74;
    --primary-500: 233 187 66;
    --primary-600: 201 153 40;
    --primary-700: 166 123 26;
    --primary-800: 136 98 19;
    --primary-900: 112 80 14;
}




@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.animated-gradient-text {
  background: linear-gradient(90deg, #c99928, #16a34a, #edc94a, #15803d, #c99928);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-flow 18s linear infinite;
}


/* smooth dark/light mode transition */
*, *::before, *::after {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.no-transition *, .no-transition *::before, .no-transition *::after {
  transition: none !important;
}

/* custom highlight */
::selection {
  background-color: rgb(var(--primary-400));
  color: #000000;
}

/* prevent blue highlight on click */
@media (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
  }
}

:focus {
    outline: none !important;
}

  input.hide-spinner::-webkit-inner-spin-button,
  input.hide-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input.hide-spinner {
    -moz-appearance: textfield;
  }

  details.hideCarat summary::-webkit-details-marker {
  display:none;
}

.space th,
.space td {
  padding-right: 8px,
}